.vs/
**/bin/
**/obj/
**/publish/
**/Data/
**/Logs/
**/Backups/
**/UpdatePackages/
.temp-appdata/
*.user
*.suo
*.log
*.bak
*.tmp
*.zip
*.7z
*.rar
*.pfx
*.p12
*.pem
*.key
UpdateSigningPrivateKey.xml
Database.config

